@model OnlineGallery.Model.Folder

@if(Model != null)
{
    <div class="row">
        <div class="col-6">
            <div class="d-flex justify-content-start">
                 <h3>@Model.Name</h3>
            </div>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-end">
                @if(Model.Id != 0)
                {
                    <a class="text-dark" asp-action="Create" asp-route-folderId="@Model.Id">Add Artwork</a>
                }
            </div>
        </div>
    </div>
   
    <hr class="hr-color mx-2" />

    if(Model.Artworks != null)
    {
        foreach (var artwork in Model.Artworks)
        {
            @if(artwork.ImagePath != null)
            {
                <img src="~/files/@artwork.ImagePath" class="rounded img-fluid">
            }
            <p>@artwork.Description</p>
            <a asp-action="Edit" asp-route-id="@artwork.Id">Edit</a>
            <a asp-action="Delete" asp-route-id="@artwork.Id">Delete</a>
        }
    }
    
}
